# General ignore list
# More specifics go in projects directories

# Vim temp files
*.swp

# Python object code cache
__pycache__/

# MyPy cache
.mypy_cache/

# Top Level PDF Cheatsheets
conda-cheatsheet.pdf
numpy_pandas_cheatsheet.pdf
Python_Matplotlib_Cheat_Sheet.pdf

